body {
    font-family: 'Varela Round';
    font-size: 30px;
    text-shadow: 0 0 3px #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
    transition: color 1s;
}

a:hover {
    color: rgb(255, 255, 255);
}

#mid {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* Modificación para hacer los logos blancos y con efecto de neón */
#links img {
    filter: brightness(0) invert(1) hue-rotate(120deg); /* Convierte los colores a verde */
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out; /* Agrega transiciones suaves */
}

#links img:hover {
    transform: scale(1.2); /* Escala el logo al 120% de su tamaño original */
    filter: brightness(1.5) invert(1) drop-shadow(0 0 10px rgb(0, 0, 0)); /* Aumenta el brillo y agrega efecto de neón */
}

#title {
    text-align: center;
    color: rgb(255, 255, 255); /* Color blanco para el texto */
    -webkit-text-stroke: 50px transparent; /* Establece un contorno transparente */
    text-shadow: 0 0 20px rgb(255, 255, 255); /* Sombra para resaltar el texto */
    background-clip: text; /* Clip del fondo a la forma del texto */
    animation: animate 2s linear infinite;
}

/* @keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

*/

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Para que el video quede detrás de otros elementos */
}
